*{
    margin: 0;
    padding: 0;
    padding-top: 1px;
    box-sizing: border-box;
    background-color: black;
}

.navbar{
    width: 100vw;
    height: 48px;
    display: flex;
    justify-content: space-between;
}

.leftnav{
    height: 100%;
    width: 41%;
    display: flex;
    align-items: stretch;
}

.logocnt{
    width: 12%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spotilogo{
    height: 27px;
    width: 27px;
    margin-bottom: 5px;
    margin-left: 2px;
    cursor: pointer;
}

.homecnt{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.roundcnt{
    background-color: rgb(39, 36, 36);
    padding: 9px;
    display: flex;
    border-radius: 50%;
    margin-bottom: 5px;
    margin-left: 5px;
    transition: all 0.01s ease-in-out;
    cursor: pointer;
}

.roundcnt:hover{
    transform: scale(1.06);
    background-color: rgb(64, 59, 59);
}

.roundcnt:hover .homeimg{
    background-color: rgb(64, 59, 59);
}

.homeimg{
    width: 20px;
    height: 20px;
    background-color: rgb(39, 36, 36);
    transition: all 0s;
}

.searchbarcnt{
    width: 78%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
}

.searchbar{
    display: flex;
    width: 97%;
    background-color: #1e1e1e;
    border-radius: 100px;
    height: 83%;
    align-items: center;
    padding: 6px 9px;
    gap: 12px;
    margin-bottom: 4px;
    margin-left: 4px;
    transition: all 0.3s ease-in-out;
}

.searchbar:hover{
    background-color: #3a3939;
    box-shadow: 0 4px 12px rgba(97, 93, 93, 0.4);
}

.searchbar:hover .browseicon,
.searchbar:hover .browseiconcnt{
    background-color: #3a3939;
}

.searchbar:hover .searchicon{
    background-color: #3a3939;
    content: url("assets/search2.svg");
}

.searchbar input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 13px;
    font-family: 'SpotifyMixUI', sans-serif;
}

.searchbar input::placeholder{
    text-shadow: 0.2px 0 #928a8a;
    color: #a39a9a;
    font-family: 'SpotifyMixUI', sans-serif;
}

.searchicon{
    height: 20px;
    width: 20px;
    opacity: 0.7;
    background-color: #1e1e1e;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.browseicon{
    height: 20px;
    width: 20px;
    background-color: #1e1e1e;
    cursor: pointer;
    margin-left: 10px;
    transition: all 0.3s ease-in-out;
}

.browseiconcnt{
    border-left: 1.5px solid rgb(188, 177, 177);
    width: 10%;
    display: flex;
    background-color: #1e1e1e;
    transition: all 0.3s ease-in-out;
}

.rightnav{
    height: 100%;
    width: 39%;
    
    display: flex;
    align-items: center;
}

.options{
    width: 42.5%;
    height: 47%;
    border-right: 1.5px solid white;
    display: flex;
    justify-content: center;
    gap: 0.3rem;
}

.optionitem{
    color: rgb(189, 183, 183);
    font-family: 'SpotifyMixUI', sans-serif;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-left:3px;
    padding-bottom: 4px;
    font-weight: 800;
    height: 100%;
}

.buttons{
    width: 57.5%;
    height: 87%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.installapp{
    height: 80%;
    width: 40%;
    color: rgb(189, 183, 183);
    font-size: 11px;
    font-weight: 700;
    display: flex;
    padding: 1px;
    padding-bottom: 4px;
    font-family: 'SpotifyMixUI', sans-serif;
    align-items: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.installapp:hover{
    color: white;
    font-size: 11px;
    transform: translateY(-2%);
} 

.installapp:hover .installlogo{
    content: url("assets/install2.svg");
    height: 14px;
    width: 14px;
}

.installlogo{
    height: 13.5px;
    width: 13.5px;
    margin-left: 20px;
    margin-right: 5px;
}

.signUp{
    height: 80%;
    width: 20%;
    color: rgb(189, 183, 183);
    font-family: 'SpotifyMixUI', sans-serif;
    font-size: 10.8px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.signUp:hover{
    color: white;
    font-size: 11.2px;
}

.logIn{
    height: 99%;
    width: 39%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.loginbtn{
    color: rgb(25, 22, 22);
    background-color: white;
    width: 85px;
    height: 99%;
    font-family: 'SpotifyMixUI', sans-serif;
    font-size: 13px;
    font-weight: 700;
    border-radius: 20px;
    border: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-bottom: 4px;
}
.loginbtn:hover{
    background-color: rgba(255, 253, 253, 0.949);
    transform: scale(1.05);

}

.maincnt{
    margin-top: 1px;
    height: 450px;
    display: flex;
}

.leftpart{
    width: 27.5%;
    background-color: rgb(15, 15, 15);
    border-radius: 6px;
    margin-left: 6.5px;
    display: flex;
    flex-direction: column;
    padding-top: 6px;
    align-items: center;
    overflow: hidden;
    height: 98.8%;
}

.library{
    width: 100%;
    height: 10.5%;
    background-color: rgb(15, 15, 15);
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 14px;
    padding-bottom: 12px;
    align-items: center;    
}

.libtext{
    color: white;
    background-color: rgb(15, 15, 15);
    font-family: 'SpotifyMixUITitleVariable', sans-serif;
    font-size: 13px;
    font-weight: 600;
}

.roundaddcnt{
    background-color: rgb(15, 15, 15);
    border-radius: 50%;
    padding: 4px;
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}   

.roundaddcnt:hover,
.roundaddcnt:hover .addimg{
    background-color: #1e1e1e;
}

.roundaddcnt:hover .addimg{
    content: url(assets/add2.svg);
    transform: scale(1.05) translateY(-3%);
    
}

.addimg{
    height: 13px;   
    width: 13px;
    background-color: rgb(15, 15, 15);
}

.playlistwrapper{
    position: relative;
    width: 100%;
    height:50%;
    overflow: hidden;
    background-color: rgb(15, 15, 15);
}

.playlist{
    height: 100%;
    overflow-y: auto;
    padding-top: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(15, 15, 15);
    gap: 19px;
    scrollbar-width: none;
}

.playlist::-webkit-scrollbar {
    display: none;
}

.createplaylist{
    display: flex;
    flex-direction: column;
    height: 108px;
    border-radius: 6px;
    width: 96%;
    background-color: rgb(30, 29, 29);
    padding-left: 15px;
    padding-right: 10px;
    flex-shrink: 0;
}

.text1{
    color: white;
    font-family: 'SpotifyMixUI', sans-serif;
    font-size: 13px;
    font-weight: 600;
    width: 80%;
    background-color: rgb(30, 29, 29);
    margin-top: 12px;
}

.text2{
    color: white;
    font-family: 'SpotifyMixUI', sans-serif;
    font-size: 11.5px;
    background-color: rgb(30, 29, 29);
    margin-top: 6px;
}

.tn1{
    background-color: rgb(30, 29, 29);
    margin-top: 14px;
}

.createbtn{
    color: rgb(25, 22, 22);
    background-color: rgb(241, 236, 236);
    font-family: 'SpotifyMixUITitleVariable', sans-serif;
    font-size: 11px;
    height: 25px;
    width: 100px;
    font-weight: 600;
    border-radius: 15px;
    border: none;
    transition: all 0.05s ease-in-out;
    cursor: pointer;
    text-shadow: 0.2px 0 rgb(25, 22, 22);
}

.createbtn:hover{
    background-color: rgba(255, 253, 253, 0.949);
    transform: scale(1.05);
}

.podcastbtn{
    color: rgb(25, 22, 22);
    background-color: rgb(241, 236, 236);
    font-family: 'SpotifyMixUITitleVariable', sans-serif;
    font-size: 11px;
    height: 25px;
    width: 110px;
    font-weight: 600;
    border-radius: 15px;
    border: none;
    transition: all 0.05s ease-in-out;
    cursor: pointer;
    text-shadow: 0.2px 0 rgb(25, 22, 22);
}

.podcastbtn:hover{
    background-color: rgba(255, 253, 253, 0.949);
    transform: scale(1.05);
}

.scrollbar1{
    position: absolute;
    top: 1px;
    right: 0px;
    width: 10.5px;
    height: 80%;
    background-color: transparent;
    opacity: 0.75;
    pointer-events: none;
    transition: all 0.3s ease;
}

.otheroptions{
    width: 95%;
    margin-top: 30px;
    background-color: rgb(15, 15, 15);
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
    overflow: hidden;
}

.otheroptionsitem{
    font-family: 'SpotifyMixUITitleVariable', sans-serif;
    font-size: 1px;
    transform: scale(0.9);
    background-color: rgb(15, 15, 15);
    color: rgb(189, 183, 183);
    cursor: pointer;
}

.line1{
    padding-left: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    background-color: rgb(15, 15, 15);
}

.line2{
    padding-left: 6px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    background-color: rgb(15, 15, 15);
}

.line3{
    padding-left: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    background-color: rgb(15, 15, 15);
}

.cookies{
    font-family: 'SpotifyMixUITitleVariable', sans-serif;   
    font-size: 1px;
    color: white;
    background-color: rgb(15, 15, 15);
    cursor: pointer;
    transform: scale(0.99);
}

.cookies:hover{
    text-decoration: underline;
}

.langimg{
    height: 13px;
    width: 13px;
}

.language{
    background-color: rgb(15, 15, 15);
    margin-top: 26px;
}

.langbtn{
    border: 1px solid rgb(150, 148, 148);
    margin-left: 12px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-right: 5px;
    background-color: rgb(15, 15, 15);
    font-family: 'SpotifyMixUI', sans-serif;
    font-size: 11.2px;
    font-weight: 600;
    width: 79px;
    height: 24px;
    border-radius: 13px;
    padding-bottom: 1px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.langbtn:hover{
    transform: scale(1.05);
    border: 1px solid white;
}

.rightpartwrapper{
    width: 70.9%;
    height: 98.8%;
    margin-left: 6.5px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to bottom, rgb(37, 37, 37), rgb(15, 15, 15) 50%);
}

.rightpart{
    width: 100%;
    background: transparent;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 18px;
    padding-bottom: 129px;
    overflow-y: scroll;
    gap: 20px;
    scrollbar-width: none;
}

.section{
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: transparent;
    font-family: 'SpotifyMixUI', sans-serif;
    align-items: center;
}

.heading{
    display: flex;
    color: white;
    width: 100%;
    padding-left: 29px;
    padding-right: 35px;

    background: transparent;
    justify-content: space-between;
}

.mainheading{
    background: transparent;
    font-size: 19px;
    cursor: pointer;
    font-weight: 600;
}

.mainheading:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.showall:hover{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: white;
}

.showall{
    background: transparent;
    cursor: pointer;
    font-size: 11.5px;
    color: rgb(189, 183, 183);
    font-weight: 600;
    display: flex;
    align-items: end;
}

.contents{
    flex: 1;
    overflow-x: auto;
    width: 100%;
}

.linkssectioncnt{
    width: 100%;
    min-height: 215px;
    display: flex;
    justify-content: center;
    background: transparent;

}

.linkssection{
    width: 95%;
    min-height: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #3a3a3a;
    border-bottom: 1px solid #242323;
    gap: 5px;
    background: transparent;
    font-family: 'SpotifyMixUI', sans-serif;
    align-items: center;
}

.scrollbar2{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 10px;
    height: 22%;
    background-color: transparent;
    opacity: 0.75;
    pointer-events: none;
    transition: all 0.3s ease;
}






.player{
    width: 100%;
    border: 1px solid white;
    display: flex;
    height: 52px;
}
